<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col mr-auto">
        <h1>Posts</h1>
      </div>
      <div class="col-auto d-flex align-items-center">
        <a routerLink="new" class="btn btn-primary">
          <i class="ti-plus" title="Add Post"></i> Add Post
        </a>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Title</th>
          <th>Body</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.userId }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <a [routerLink]="[post.id + '/edit']"
              class="btn btn-warning mr-2"
            >
            <i class="ti-pencil"></i>
          </a>
            <button
              class="btn btn-primary mr-2"
              (click)="getPost(post.id)"
            >
            <i class="ti-eye"></i>
          </button>
            <button
              class="btn btn-danger"
              (click)="removePost(post)"
            >
            <i class="ti-close"></i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <h2>Single Post</h2>
    <pre class="card card-body">{{ post | json }}</pre>
  </div>
</div>
