<h1>Add New Post</h1>
<form #postForm="ngForm" (ngSubmit)="addPost(postForm.value)">
  <div class="form-group">
    <label for="userId">User Id</label>
    <input type="text" class="form-control" id="userId" name="userId" ngModel #userId="ngModel">
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" ngModel #title="ngModel">
  </div>
  <div class="form-group">
    <label for="body">Description</label>
    <textarea class="form-control" id="body" rows="3" name="body" ngModel #body="ngModel"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
